openapi: 3.0.3
info:
  title: Strike Perpetuals - User Data REST API
  description: Read-only endpoints for querying account state, positions, and history.
  version: 2.1.0
  contact:
    name: Strike Finance
    url: https://www.strikefinance.org
  x-gitbook-description-html: >-
    <p>Read-only endpoints for querying account state, positions, and
    history.</p>
  x-gitbook-description-document:
    object: document
    data:
      schemaVersion: 9
    nodes:
      - object: block
        type: paragraph
        isVoid: false
        data: {}
        nodes:
          - object: text
            leaves:
              - object: leaf
                text: >-
                  Read-only endpoints for querying account state, positions, and
                  history.
                marks: []
            key: H7RfxHbJHmBo
        key: nb5jqaaEbRUX
    key: 0k5NXDCPMO9H
servers:
  - url: https://api.strikefinance.org
    description: Mainnet
    x-gitbook-description-html: <p>Mainnet</p>
  - url: https://api-v2-testnet.strikefinance.org
    description: Testnet
    x-gitbook-description-html: <p>Testnet</p>
tags:
  - name: Account
    description: Account info, balances, and portfolio
    x-gitbook-description-html: <p>Account info, balances, and portfolio</p>
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Account info, balances, and portfolio
                  marks: []
              key: xxV3JjWuQOHH
          key: DJJb5YgSz8nR
      key: dSaTaYtGovm6
  - name: Positions
    description: Open and closed position queries
    x-gitbook-description-html: <p>Open and closed position queries</p>
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Open and closed position queries
                  marks: []
              key: zRUE3vN1B5tk
          key: c0xkD215VJLs
      key: FdPFzMxZn8wc
  - name: History
    description: Order, fill, funding, and transaction history
    x-gitbook-description-html: <p>Order, fill, funding, and transaction history</p>
    x-gitbook-description-document:
      object: document
      data:
        schemaVersion: 9
      nodes:
        - object: block
          type: paragraph
          isVoid: false
          data: {}
          nodes:
            - object: text
              leaves:
                - object: leaf
                  text: Order, fill, funding, and transaction history
                  marks: []
              key: OfXsgBcvYDPB
          key: pMlBWhBjwusm
      key: EtIk8jFditi8
x-tagGroups:
  - name: User Data
    tags:
      - Account
      - Positions
      - History
security:
  - ApiWalletAuth: []
components:
  securitySchemes:
    ApiWalletAuth:
      type: apiKey
      in: header
      name: X-API-Wallet-Public-Key
      description: >
        Ed25519 signature-based authentication using API Wallets.


        **Required Headers:**

        - `X-API-Wallet-Public-Key`: Your Ed25519 public key (64 hex characters)

        - `X-API-Wallet-Signature`: Ed25519 signature of the message (128 hex
        characters)

        - `X-API-Wallet-Timestamp`: Unix timestamp in seconds

        - `X-API-Wallet-Nonce`: Unique UUID v4 per request


        **Signature Message Format:**

        ```

        {METHOD}:{PATH}:{TIMESTAMP}:{NONCE}:{BODY_HASH}

        ```
      x-gitbook-description-html: >-
        <p>Ed25519 signature-based authentication using API Wallets.</p>

        <p><strong>Required Headers:</strong></p>

        <ul>

        <li><code>X-API-Wallet-Public-Key</code>: Your Ed25519 public key (64
        hex characters)</li>

        <li><code>X-API-Wallet-Signature</code>: Ed25519 signature of the
        message (128 hex characters)</li>

        <li><code>X-API-Wallet-Timestamp</code>: Unix timestamp in seconds</li>

        <li><code>X-API-Wallet-Nonce</code>: Unique UUID v4 per request</li>

        </ul>

        <p><strong>Signature Message Format:</strong></p>

        <pre><code>{METHOD}:{PATH}:{TIMESTAMP}:{NONCE}:{BODY_HASH}

        </code></pre>
  schemas:
    Error:
      type: object
      properties:
        error:
          type: string
          description: Error message
          x-gitbook-description-html: <p>Error message</p>
        code:
          type: string
          description: Error code
          x-gitbook-description-html: <p>Error code</p>
        msg:
          type: string
          description: Error message (alternative format)
          x-gitbook-description-html: <p>Error message (alternative format)</p>
      required:
        - error
    GetAccountResponse:
      type: object
      properties:
        account_id:
          type: string
          description: Unique account identifier
          example: 01234567-89ab-cdef-0123-456789abcdef
          x-gitbook-description-html: <p>Unique account identifier</p>
        blockchain:
          type: string
          description: Blockchain the account is registered on
          example: cardano
          x-gitbook-description-html: <p>Blockchain the account is registered on</p>
        blockchain_address:
          type: string
          description: On-chain wallet address
          example: addr1qx...
          x-gitbook-description-html: <p>On-chain wallet address</p>
        wallet_balance:
          type: string
          description: Total wallet balance (USDT)
          example: '10000.00'
          x-gitbook-description-html: <p>Total wallet balance (USDT)</p>
        available_balance:
          type: string
          description: Balance available for new orders
          example: '7500.00'
          x-gitbook-description-html: <p>Balance available for new orders</p>
        unrealized_pnl:
          type: string
          description: Total unrealized PnL across all positions
          example: '250.50'
          x-gitbook-description-html: <p>Total unrealized PnL across all positions</p>
        margin_balance:
          type: string
          description: Wallet balance + unrealized PnL
          example: '10250.50'
          x-gitbook-description-html: <p>Wallet balance + unrealized PnL</p>
        total_margin:
          type: string
          description: Total margin used
          example: '2500.00'
          x-gitbook-description-html: <p>Total margin used</p>
        position_initial_margin:
          type: string
          description: Initial margin held by open positions
          example: '2000.00'
          x-gitbook-description-html: <p>Initial margin held by open positions</p>
        maintenance_margin:
          type: string
          description: Minimum margin required to avoid liquidation
          example: '500.00'
          x-gitbook-description-html: <p>Minimum margin required to avoid liquidation</p>
        symbol_settings:
          type: object
          description: Per-symbol trading settings (margin mode, leverage)
          additionalProperties:
            $ref: '#/components/schemas/SymbolSetting'
          example:
            BTC-USD:
              margin_mode: cross
              leverage: 10
              allow_pre_trade: false
            ETH-USD:
              margin_mode: isolated
              leverage: 20
              allow_pre_trade: false
          x-gitbook-description-html: <p>Per-symbol trading settings (margin mode, leverage)</p>
    SymbolSetting:
      type: object
      properties:
        margin_mode:
          type: string
          enum:
            - cross
            - isolated
          description: Margin mode for this symbol
          x-gitbook-description-html: <p>Margin mode for this symbol</p>
        leverage:
          type: integer
          description: Leverage multiplier
          x-gitbook-description-html: <p>Leverage multiplier</p>
        allow_pre_trade:
          type: boolean
          description: Whether pre-trade is allowed
          x-gitbook-description-html: <p>Whether pre-trade is allowed</p>
    BalanceResponse:
      type: object
      properties:
        asset:
          type: string
          description: Asset name
          example: USDT
          x-gitbook-description-html: <p>Asset name</p>
        walletBalance:
          type: string
          description: Total wallet balance
          example: '10000.00'
          x-gitbook-description-html: <p>Total wallet balance</p>
        unrealizedPnl:
          type: string
          description: Unrealized PnL
          example: '250.50'
          x-gitbook-description-html: <p>Unrealized PnL</p>
        marginBalance:
          type: string
          description: Wallet balance + unrealized PnL
          example: '10250.50'
          x-gitbook-description-html: <p>Wallet balance + unrealized PnL</p>
        maintMargin:
          type: string
          description: Maintenance margin
          example: '500.00'
          x-gitbook-description-html: <p>Maintenance margin</p>
        initialMargin:
          type: string
          description: Total initial margin
          example: '2500.00'
          x-gitbook-description-html: <p>Total initial margin</p>
        positionInitialMargin:
          type: string
          description: Initial margin held by positions
          example: '2000.00'
          x-gitbook-description-html: <p>Initial margin held by positions</p>
        openOrderInitialMargin:
          type: string
          description: Initial margin reserved by open orders
          example: '500.00'
          x-gitbook-description-html: <p>Initial margin reserved by open orders</p>
        crossWalletBalance:
          type: string
          description: Cross-margin wallet balance
          example: '8000.00'
          x-gitbook-description-html: <p>Cross-margin wallet balance</p>
        crossUnPnl:
          type: string
          description: Cross-margin unrealized PnL
          example: '200.00'
          x-gitbook-description-html: <p>Cross-margin unrealized PnL</p>
        availableBalance:
          type: string
          description: Available balance for new orders
          example: '7500.00'
          x-gitbook-description-html: <p>Available balance for new orders</p>
        maxWithdrawAmount:
          type: string
          description: Maximum amount available for withdrawal
          example: '7500.00'
          x-gitbook-description-html: <p>Maximum amount available for withdrawal</p>
        marginAvailable:
          type: boolean
          description: Whether margin is available
          example: true
          x-gitbook-description-html: <p>Whether margin is available</p>
        updateTime:
          type: integer
          format: int64
          description: Last update time (Unix ms)
          example: 1709123456789
          x-gitbook-description-html: <p>Last update time (Unix ms)</p>
    PortfolioSummaryResponse:
      type: object
      properties:
        account:
          type: object
          description: Account-level portfolio metrics
          properties:
            accountValue:
              type: string
              description: Total account value (balance + unrealized PnL)
              example: '10250.50'
              x-gitbook-description-html: <p>Total account value (balance + unrealized PnL)</p>
            positionValue:
              type: string
              description: Total notional value of open positions
              example: '50000.00'
              x-gitbook-description-html: <p>Total notional value of open positions</p>
            availableBalance:
              type: string
              description: Balance available for new orders
              example: '7500.00'
              x-gitbook-description-html: <p>Balance available for new orders</p>
            allTimePnl:
              type: string
              description: All-time cumulative PnL
              example: '1250.75'
              x-gitbook-description-html: <p>All-time cumulative PnL</p>
            realizedPnl:
              type: string
              description: Realized PnL
              example: '1000.25'
              x-gitbook-description-html: <p>Realized PnL</p>
            unrealizedPnl:
              type: string
              description: Unrealized PnL across all open positions
              example: '250.50'
              x-gitbook-description-html: <p>Unrealized PnL across all open positions</p>
            allTimeVolume:
              type: string
              description: All-time trading volume
              example: '500000.00'
              x-gitbook-description-html: <p>All-time trading volume</p>
            currentPositionSize:
              type: string
              description: Total current position size
              example: '0.5'
              x-gitbook-description-html: <p>Total current position size</p>
          x-gitbook-description-html: <p>Account-level portfolio metrics</p>
        volume:
          type: string
          description: Rolling 30-day trading volume
          example: '150000.00'
          x-gitbook-description-html: <p>Rolling 30-day trading volume</p>
        fees:
          type: string
          description: Rolling 30-day fees paid
          example: '75.00'
          x-gitbook-description-html: <p>Rolling 30-day fees paid</p>
        history:
          type: array
          description: >
            Equity history data points. Each entry is `[timestamp_ms,
            accountValue, realizedPnl, unrealizedPnl]`.
          items:
            type: array
            items:
              type: string
          example:
            - - '1709000000000'
              - '10000.00'
              - '800.00'
              - '200.00'
            - - '1709086400000'
              - '10250.50'
              - '1000.25'
              - '250.50'
          x-gitbook-description-html: >-
            <p>Equity history data points. Each entry is <code>[timestamp_ms,
            accountValue, realizedPnl, unrealizedPnl]</code>.</p>
        feeTier:
          type: integer
          description: Current fee tier index (0-based)
          example: 0
          x-gitbook-description-html: <p>Current fee tier index (0-based)</p>
        feeTiers:
          type: array
          description: All available fee tier definitions
          items:
            $ref: '#/components/schemas/FeeTier'
          x-gitbook-description-html: <p>All available fee tier definitions</p>
        volume_history:
          type: array
          description: Daily volume breakdown
          items:
            $ref: '#/components/schemas/VolumeHistoryEntry'
          x-gitbook-description-html: <p>Daily volume breakdown</p>
        feeDiscountRate:
          type: number
          description: Current fee discount rate (percentage)
          example: 4
          x-gitbook-description-html: <p>Current fee discount rate (percentage)</p>
        isTradingEnabled:
          type: boolean
          description: Whether trading is currently enabled for this account
          example: true
          x-gitbook-description-html: <p>Whether trading is currently enabled for this account</p>
    FeeTier:
      type: object
      properties:
        tier:
          type: integer
          description: Tier number
          example: 0
          x-gitbook-description-html: <p>Tier number</p>
        min_volume:
          type: string
          description: Minimum 30-day volume to qualify
          example: '0'
          x-gitbook-description-html: <p>Minimum 30-day volume to qualify</p>
        maker_fee:
          type: string
          description: Maker fee rate
          example: '0.0002'
          x-gitbook-description-html: <p>Maker fee rate</p>
        taker_fee:
          type: string
          description: Taker fee rate
          example: '0.0005'
          x-gitbook-description-html: <p>Taker fee rate</p>
    VolumeHistoryEntry:
      type: object
      properties:
        date:
          type: string
          description: Date (YYYY-MM-DD)
          example: '2024-01-15'
          x-gitbook-description-html: <p>Date (YYYY-MM-DD)</p>
        exchange_volume:
          type: string
          description: Raw exchange volume for the day
          example: '50000.00'
          x-gitbook-description-html: <p>Raw exchange volume for the day</p>
        weighted_maker_volume:
          type: string
          description: Weighted maker volume
          example: '30000.00'
          x-gitbook-description-html: <p>Weighted maker volume</p>
        weighted_taker_volume:
          type: string
          description: Weighted taker volume
          example: '20000.00'
          x-gitbook-description-html: <p>Weighted taker volume</p>
    Position:
      type: object
      properties:
        symbol:
          type: string
          description: Trading pair
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair</p>
        PositionID:
          type: integer
          format: int64
          description: Position ID
          example: 1
          x-gitbook-description-html: <p>Position ID</p>
        Side:
          type: string
          enum:
            - long
            - short
            - none
          description: Position side
          example: long
          x-gitbook-description-html: <p>Position side</p>
        Size:
          type: string
          description: Position size in base asset
          example: '0.5'
          x-gitbook-description-html: <p>Position size in base asset</p>
        EntryPrice:
          type: string
          description: Average entry price
          example: '50000.00'
          x-gitbook-description-html: <p>Average entry price</p>
        MarginMode:
          type: string
          enum:
            - cross
            - isolated
          description: Margin mode
          example: cross
          x-gitbook-description-html: <p>Margin mode</p>
        Leverage:
          type: integer
          description: Leverage multiplier
          example: 10
          x-gitbook-description-html: <p>Leverage multiplier</p>
        IsolatedMargin:
          type: string
          description: Margin allocated (isolated mode only)
          example: '0'
          x-gitbook-description-html: <p>Margin allocated (isolated mode only)</p>
        upnl:
          type: string
          description: Unrealized PnL
          example: '250.50'
          x-gitbook-description-html: <p>Unrealized PnL</p>
        maintenance_margin:
          type: string
          description: Maintenance margin required
          example: '125.00'
          x-gitbook-description-html: <p>Maintenance margin required</p>
        bankruptcy_price:
          type: string
          description: Price at which position equity reaches zero
          example: '45000.00'
          x-gitbook-description-html: <p>Price at which position equity reaches zero</p>
        liquidation_price:
          type: string
          description: Price at which liquidation is triggered
          example: '45500.00'
          x-gitbook-description-html: <p>Price at which liquidation is triggered</p>
    PositionsResponse:
      type: object
      properties:
        positions:
          type: array
          items:
            $ref: '#/components/schemas/Position'
        count:
          type: integer
          description: Number of positions returned
          example: 2
          x-gitbook-description-html: <p>Number of positions returned</p>
    ClosedPosition:
      type: object
      properties:
        symbol:
          type: string
          description: Trading pair
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair</p>
        position_id:
          type: integer
          format: int64
          description: Position ID
          example: 1
          x-gitbook-description-html: <p>Position ID</p>
        side:
          type: string
          enum:
            - long
            - short
          description: Position side
          example: long
          x-gitbook-description-html: <p>Position side</p>
        size:
          type: string
          description: Position size
          example: '0.5'
          x-gitbook-description-html: <p>Position size</p>
        entry_price:
          type: string
          description: Average entry price
          example: '50000.00'
          x-gitbook-description-html: <p>Average entry price</p>
        exit_price:
          type: string
          description: Average exit price
          example: '51000.00'
          x-gitbook-description-html: <p>Average exit price</p>
        realized_pnl:
          type: string
          description: Realized PnL from this position
          example: '500.00'
          x-gitbook-description-html: <p>Realized PnL from this position</p>
        margin_mode:
          type: string
          enum:
            - cross
            - isolated
          description: Margin mode used
          x-gitbook-description-html: <p>Margin mode used</p>
        leverage:
          type: integer
          description: Leverage used
          example: 10
          x-gitbook-description-html: <p>Leverage used</p>
        opened_at:
          type: integer
          format: int64
          description: Position open time (Unix ms)
          example: 1709000000000
          x-gitbook-description-html: <p>Position open time (Unix ms)</p>
        closed_at:
          type: integer
          format: int64
          description: Position close time (Unix ms)
          example: 1709086400000
          x-gitbook-description-html: <p>Position close time (Unix ms)</p>
    ClosedPositionsResponse:
      type: object
      properties:
        positions:
          type: array
          items:
            $ref: '#/components/schemas/ClosedPosition'
        count:
          type: integer
          description: Number of closed positions returned
          example: 10
          x-gitbook-description-html: <p>Number of closed positions returned</p>
    OrderHistoryResult:
      type: object
      properties:
        order_id:
          type: integer
          format: int64
          description: Order ID
          example: 123456
          x-gitbook-description-html: <p>Order ID</p>
        client_order_id:
          type: string
          description: Client order ID
          example: my-order-001
          x-gitbook-description-html: <p>Client order ID</p>
        symbol:
          type: string
          description: Trading pair
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair</p>
        side:
          type: string
          enum:
            - buy
            - sell
          description: Order side
          example: buy
          x-gitbook-description-html: <p>Order side</p>
        type:
          type: string
          description: Order type
          example: limit
          x-gitbook-description-html: <p>Order type</p>
        status:
          type: string
          enum:
            - pending
            - open
            - filled
            - canceled
            - untriggered
            - rejected
            - expired
          description: Order status
          example: filled
          x-gitbook-description-html: <p>Order status</p>
        price:
          type: string
          description: Order price
          example: '50000.00'
          x-gitbook-description-html: <p>Order price</p>
        size:
          type: string
          description: Order size
          example: '0.1'
          x-gitbook-description-html: <p>Order size</p>
        filled:
          type: string
          description: Filled quantity
          example: '0.1'
          x-gitbook-description-html: <p>Filled quantity</p>
        created_at:
          type: integer
          format: int64
          description: Order creation time (Unix ms)
          example: 1709000000000
          x-gitbook-description-html: <p>Order creation time (Unix ms)</p>
        updated_at:
          type: integer
          format: int64
          description: Last update time (Unix ms)
          example: 1709000001000
          x-gitbook-description-html: <p>Last update time (Unix ms)</p>
    OrderHistoryResponse:
      type: object
      properties:
        orders:
          type: array
          items:
            $ref: '#/components/schemas/OrderHistoryResult'
        count:
          type: integer
          description: Number of orders returned
          example: 10
          x-gitbook-description-html: <p>Number of orders returned</p>
    FillHistoryResult:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Fill ID
          example: 789
          x-gitbook-description-html: <p>Fill ID</p>
        order_id:
          type: integer
          format: int64
          description: Associated order ID
          example: 123456
          x-gitbook-description-html: <p>Associated order ID</p>
        symbol:
          type: string
          description: Trading pair
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair</p>
        side:
          type: string
          enum:
            - buy
            - sell
          description: Trade side
          example: buy
          x-gitbook-description-html: <p>Trade side</p>
        price:
          type: string
          description: Execution price
          example: '50000.00'
          x-gitbook-description-html: <p>Execution price</p>
        qty:
          type: string
          description: Filled quantity
          example: '0.1'
          x-gitbook-description-html: <p>Filled quantity</p>
        quote_qty:
          type: string
          description: Filled quote quantity (price * qty)
          example: '5000.00'
          x-gitbook-description-html: <p>Filled quote quantity (price * qty)</p>
        commission:
          type: string
          description: Fee paid
          example: '2.50'
          x-gitbook-description-html: <p>Fee paid</p>
        commission_asset:
          type: string
          description: Fee asset
          example: USDT
          x-gitbook-description-html: <p>Fee asset</p>
        realized_pnl:
          type: string
          description: Realized PnL from this fill
          example: '0.00'
          x-gitbook-description-html: <p>Realized PnL from this fill</p>
        is_maker:
          type: boolean
          description: Whether fill was a maker
          example: true
          x-gitbook-description-html: <p>Whether fill was a maker</p>
        time:
          type: integer
          format: int64
          description: Fill time (Unix ms)
          example: 1709000001000
          x-gitbook-description-html: <p>Fill time (Unix ms)</p>
        auto_close_type:
          type: string
          nullable: true
          enum:
            - liquidation
            - adl
            - bankrupt
            - if_transfer
            - null
          description: Auto-close type from the associated order. Null for regular trades.
          example: null
          x-gitbook-description-html: >-
            <p>Auto-close type from the associated order. Null for regular
            trades.</p>
    FillHistoryResponse:
      type: object
      properties:
        fills:
          type: array
          items:
            $ref: '#/components/schemas/FillHistoryResult'
        count:
          type: integer
          description: Number of fills returned
          example: 10
          x-gitbook-description-html: <p>Number of fills returned</p>
    FundingHistoryResult:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Funding record ID
          example: 456
          x-gitbook-description-html: <p>Funding record ID</p>
        symbol:
          type: string
          description: Trading pair
          example: BTC-USD
          x-gitbook-description-html: <p>Trading pair</p>
        income:
          type: string
          description: Funding income (positive = received, negative = paid)
          example: '-1.25'
          x-gitbook-description-html: <p>Funding income (positive = received, negative = paid)</p>
        asset:
          type: string
          description: Asset
          example: USDT
          x-gitbook-description-html: <p>Asset</p>
        time:
          type: integer
          format: int64
          description: Funding time (Unix ms)
          example: 1709003600000
          x-gitbook-description-html: <p>Funding time (Unix ms)</p>
    FundingHistoryResponse:
      type: object
      properties:
        funding:
          type: array
          items:
            $ref: '#/components/schemas/FundingHistoryResult'
        count:
          type: integer
          description: Number of funding records returned
          example: 10
          x-gitbook-description-html: <p>Number of funding records returned</p>
    TransactionHistoryResult:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: Transaction ID
          example: 101
          x-gitbook-description-html: <p>Transaction ID</p>
        type:
          type: string
          enum:
            - deposit
            - withdraw
            - fee
            - realized_pnl
            - liquidation
          description: Transaction type
          example: deposit
          x-gitbook-description-html: <p>Transaction type</p>
        status:
          type: string
          enum:
            - pending
            - completed
            - pending_settlement
            - settled
            - failed
            - cancelled
          description: Transaction status
          example: completed
          x-gitbook-description-html: <p>Transaction status</p>
        amount:
          type: string
          description: Transaction amount
          example: '5000.00'
          x-gitbook-description-html: <p>Transaction amount</p>
        asset:
          type: string
          description: Asset
          example: USDT
          x-gitbook-description-html: <p>Asset</p>
        time:
          type: integer
          format: int64
          description: Transaction time (Unix ms)
          example: 1709000000000
          x-gitbook-description-html: <p>Transaction time (Unix ms)</p>
    TransactionHistoryResponse:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/TransactionHistoryResult'
        count:
          type: integer
          description: Number of transactions returned
          example: 10
          x-gitbook-description-html: <p>Number of transactions returned</p>
  responses:
    MissingParameter:
      description: Missing required parameter
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: MISSING_PARAMETER
            code: MISSING_PARAMETER
            msg: symbol parameter is required
      x-gitbook-description-html: <p>Missing required parameter</p>
    InvalidParameter:
      description: Invalid parameter value
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: INVALID_PARAMETER
            code: INVALID_PARAMETER
            msg: invalid parameter
      x-gitbook-description-html: <p>Invalid parameter value</p>
    Unauthorized:
      description: Unauthorized - missing or invalid API wallet authentication
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          examples:
            missing_headers:
              summary: Missing authentication headers
              value:
                error: missing API wallet authentication headers
            invalid_signature:
              summary: Invalid or expired signature
              value:
                error: authentication failed
      x-gitbook-description-html: <p>Unauthorized - missing or invalid API wallet authentication</p>
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
          example:
            error: not found
      x-gitbook-description-html: <p>Resource not found</p>
paths:
  /v2/account:
    get:
      tags:
        - Account
      summary: Get account info
      description: >
        Returns account information including balances, margins, and per-symbol
        trading settings (margin mode, leverage).


        Supports unauthenticated access when `vault_id` is provided — returns
        the vault's trading account data (with `blockchain` and
        `blockchain_address` omitted).
      parameters:
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault account queries (no authentication
            required when provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault account queries (no authentication
            required when provided)</p>
      responses:
        '200':
          description: Account information
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAccountResponse'
          x-gitbook-description-html: <p>Account information</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Returns account information including balances, margins, and
        per-symbol trading settings (margin mode, leverage).</p><p>Supports
        unauthenticated access when <code>vault_id</code> is provided — returns
        the vault's trading account data (with <code>blockchain</code> and
        <code>blockchain_address</code> omitted).</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns account information including balances, margins,
                      and per-symbol trading settings (margin mode, leverage).
                    marks: []
                key: jUsR4zeXonrL
            key: KSTOZO11N3YI
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Supports unauthenticated access when '
                    marks: []
                  - object: leaf
                    text: vault_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' is provided — returns the vault''s trading account data (with '
                    marks: []
                  - object: leaf
                    text: blockchain
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' and '
                    marks: []
                  - object: leaf
                    text: blockchain_address
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' omitted).'
                    marks: []
                key: FEC2Gku9hbmd
            key: iDdzL0NdVFJW
        key: 01JWSTSHmNbQ
  /v2/balances:
    get:
      tags:
        - Account
      summary: Get balances
      description: >
        Returns a detailed balance breakdown including wallet balance, margin
        allocations, unrealized PnL, and available balance.


        Supports unauthenticated access when `vault_id` is provided.
      parameters:
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault balance queries (no authentication
            required when provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault balance queries (no authentication
            required when provided)</p>
      responses:
        '200':
          description: Balance details
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BalanceResponse'
          x-gitbook-description-html: <p>Balance details</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Returns a detailed balance breakdown including wallet balance, margin
        allocations, unrealized PnL, and available balance.</p><p>Supports
        unauthenticated access when <code>vault_id</code> is provided.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns a detailed balance breakdown including wallet
                      balance, margin allocations, unrealized PnL, and available
                      balance.
                    marks: []
                key: Tk6fhjUHVbF6
            key: 3EGbhTXPdmaP
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Supports unauthenticated access when '
                    marks: []
                  - object: leaf
                    text: vault_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' is provided.'
                    marks: []
                key: xdtZDpZaJ64c
            key: OPn29pvE3mqW
        key: foUz8hJny1h1
  /v2/portfolio:
    get:
      tags:
        - Account
      summary: Get portfolio summary
      description: >
        Returns a comprehensive portfolio summary including account value, PnL
        breakdown, equity history chart data, fee tier information, and daily
        volume history.


        Supports unauthenticated access when `vault_id` is provided.
      parameters:
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault portfolio queries (no authentication
            required when provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault portfolio queries (no authentication
            required when provided)</p>
      responses:
        '200':
          description: Portfolio summary
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PortfolioSummaryResponse'
          x-gitbook-description-html: <p>Portfolio summary</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Returns a comprehensive portfolio summary including account value,
        PnL breakdown, equity history chart data, fee tier information, and
        daily volume history.</p><p>Supports unauthenticated access when
        <code>vault_id</code> is provided.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns a comprehensive portfolio summary including
                      account value, PnL breakdown, equity history chart data,
                      fee tier information, and daily volume history.
                    marks: []
                key: q3at74QPONWj
            key: 4CK7RFwigOG9
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Supports unauthenticated access when '
                    marks: []
                  - object: leaf
                    text: vault_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' is provided.'
                    marks: []
                key: DQfuhkgSWrOt
            key: 0MGbIU9awihR
        key: qhC0z9P73d5Q
  /v2/positions:
    get:
      tags:
        - Positions
      summary: Get open positions
      description: >
        Returns all open positions with unrealized PnL, liquidation price, and
        maintenance margin calculations.


        Optionally filter by `symbol` or specific `position_id` (requires
        `symbol`).


        Supports unauthenticated access when `vault_id` is provided.
      parameters:
        - name: symbol
          in: query
          required: false
          description: Filter by trading pair symbol
          schema:
            type: string
          example: BTC-USD
          x-gitbook-description-html: <p>Filter by trading pair symbol</p>
        - name: position_id
          in: query
          required: false
          description: Filter by position ID (requires `symbol`)
          schema:
            type: string
          x-gitbook-description-html: <p>Filter by position ID (requires <code>symbol</code>)</p>
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault position queries (no authentication
            required when provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault position queries (no authentication
            required when provided)</p>
      responses:
        '200':
          description: Open positions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PositionsResponse'
              example:
                positions:
                  - symbol: BTC-USD
                    PositionID: 1
                    Side: long
                    Size: '0.5'
                    EntryPrice: '50000.00'
                    MarginMode: cross
                    Leverage: 10
                    IsolatedMargin: '0'
                    upnl: '250.50'
                    maintenance_margin: '125.00'
                    bankruptcy_price: '45000.00'
                    liquidation_price: '45500.00'
                count: 1
          x-gitbook-description-html: <p>Open positions</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Returns all open positions with unrealized PnL, liquidation price,
        and maintenance margin calculations.</p><p>Optionally filter by
        <code>symbol</code> or specific <code>position_id</code> (requires
        <code>symbol</code>).</p><p>Supports unauthenticated access when
        <code>vault_id</code> is provided.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns all open positions with unrealized PnL,
                      liquidation price, and maintenance margin calculations.
                    marks: []
                key: 1bYD8kKGpVvh
            key: hPGOriELvgSW
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Optionally filter by '
                    marks: []
                  - object: leaf
                    text: symbol
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' or specific '
                    marks: []
                  - object: leaf
                    text: position_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' (requires '
                    marks: []
                  - object: leaf
                    text: symbol
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ).
                    marks: []
                key: ZI68XgBrDYc9
            key: xeC4JfvpbxmR
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Supports unauthenticated access when '
                    marks: []
                  - object: leaf
                    text: vault_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' is provided.'
                    marks: []
                key: ki3LnPNOJKTJ
            key: 8wXJJjhsqQmw
        key: yDaTKfELvGVb
  /v2/closedPositions:
    get:
      tags:
        - Positions
      summary: Get closed positions
      description: >
        Returns closed positions with realized PnL. Supports time-range
        filtering and pagination.


        Supports unauthenticated access when `vault_id` is provided.
      parameters:
        - name: symbol
          in: query
          required: false
          description: Filter by trading pair symbol
          schema:
            type: string
          example: BTC-USD
          x-gitbook-description-html: <p>Filter by trading pair symbol</p>
        - name: startTime
          in: query
          required: false
          description: Start time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>Start time filter (Unix ms)</p>
        - name: endTime
          in: query
          required: false
          description: End time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>End time filter (Unix ms)</p>
        - name: limit
          in: query
          required: false
          description: Maximum number of results to return. Clamped to 1000.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          x-gitbook-description-html: <p>Maximum number of results to return. Clamped to 1000.</p>
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault queries (no authentication required when
            provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault queries (no authentication required
            when provided)</p>
      responses:
        '200':
          description: Closed positions
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ClosedPositionsResponse'
          x-gitbook-description-html: <p>Closed positions</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Returns closed positions with realized PnL. Supports time-range
        filtering and pagination.</p><p>Supports unauthenticated access when
        <code>vault_id</code> is provided.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns closed positions with realized PnL. Supports
                      time-range filtering and pagination.
                    marks: []
                key: gVaaINZN15xA
            key: GIYjNTGfNsVM
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Supports unauthenticated access when '
                    marks: []
                  - object: leaf
                    text: vault_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' is provided.'
                    marks: []
                key: TUHgMYM946fp
            key: IAStSIFd6H8z
        key: umr3VssBhFHC
  /v2/history/order:
    get:
      tags:
        - History
      summary: Get order history
      description: >
        Returns historical orders with filtering by symbol, status, time range,
        and order ID. Supports cursor-based pagination via `fromOrderID`.


        Supports unauthenticated access when `vault_id` is provided.
      parameters:
        - name: symbol
          in: query
          required: false
          description: Filter by trading pair symbol
          schema:
            type: string
          example: BTC-USD
          x-gitbook-description-html: <p>Filter by trading pair symbol</p>
        - name: status
          in: query
          required: false
          description: >
            Filter by order status (integer enum): `2` = open, `3` = filled, `4`
            = canceled, `5` = untriggered, `6` = rejected, `7` = expired
          schema:
            type: integer
          x-gitbook-description-html: >-
            <p>Filter by order status (integer enum): <code>2</code> = open,
            <code>3</code> = filled, <code>4</code> = canceled, <code>5</code> =
            untriggered, <code>6</code> = rejected, <code>7</code> = expired</p>
        - name: order_id
          in: query
          required: false
          description: Filter by specific order ID
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>Filter by specific order ID</p>
        - name: startTime
          in: query
          required: false
          description: Start time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>Start time filter (Unix ms)</p>
        - name: endTime
          in: query
          required: false
          description: End time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>End time filter (Unix ms)</p>
        - name: limit
          in: query
          required: false
          description: Maximum number of results. Clamped to 1000.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          x-gitbook-description-html: <p>Maximum number of results. Clamped to 1000.</p>
        - name: fromOrderID
          in: query
          required: false
          description: Pagination cursor — return orders with ID greater than this value
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: >-
            <p>Pagination cursor — return orders with ID greater than this
            value</p>
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault queries (no authentication required when
            provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault queries (no authentication required
            when provided)</p>
      responses:
        '200':
          description: Order history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderHistoryResponse'
          x-gitbook-description-html: <p>Order history</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Returns historical orders with filtering by symbol, status, time
        range, and order ID. Supports cursor-based pagination via
        <code>fromOrderID</code>.</p><p>Supports unauthenticated access when
        <code>vault_id</code> is provided.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns historical orders with filtering by symbol,
                      status, time range, and order ID. Supports cursor-based
                      pagination via 
                    marks: []
                  - object: leaf
                    text: fromOrderID
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: .
                    marks: []
                key: AE8hZscFRaTn
            key: V3FgbIfjGAxc
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Supports unauthenticated access when '
                    marks: []
                  - object: leaf
                    text: vault_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' is provided.'
                    marks: []
                key: TvPv837fIhtE
            key: 7m8gEwDCQNCe
        key: 0eHBDRdxB9I4
  /v2/history/fill:
    get:
      tags:
        - History
      summary: Get fill history
      description: >
        Returns trade fill history. Each fill represents a partial or full
        execution of an order. Supports filtering by symbol, order ID, and time
        range. Cursor-based pagination via `fromId` (backward) or `since_trade_id` (forward).


        Use `since_trade_id` to poll for new fills after a known trade ID. Results
        are returned in ascending `trade_id` order. Cannot be combined with `fromId`.


        Supports unauthenticated access when `vault_id` is provided.
      parameters:
        - name: symbol
          in: query
          required: false
          description: Filter by trading pair symbol
          schema:
            type: string
          example: BTC-USD
          x-gitbook-description-html: <p>Filter by trading pair symbol</p>
        - name: order_id
          in: query
          required: false
          description: Filter fills for a specific order
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>Filter fills for a specific order</p>
        - name: startTime
          in: query
          required: false
          description: Start time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>Start time filter (Unix ms)</p>
        - name: endTime
          in: query
          required: false
          description: End time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>End time filter (Unix ms)</p>
        - name: limit
          in: query
          required: false
          description: Maximum number of results. Clamped to 1000.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 500
          x-gitbook-description-html: <p>Maximum number of results. Clamped to 1000.</p>
        - name: fromId
          in: query
          required: false
          description: Backward pagination cursor — return fills with internal ID less than this value (newest first)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: >-
            <p>Backward pagination cursor — return fills with internal ID less
            than this value (newest first)</p>
        - name: since_trade_id
          in: query
          required: false
          description: >-
            Forward cursor — return fills with trade_id greater than this value,
            ordered ascending. Use for polling new fills. Cannot be combined with
            fromId.
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: >-
            <p>Forward cursor — return fills with trade_id greater than this
            value, ordered ascending. Use for polling new fills. Cannot be
            combined with fromId.</p>
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault queries (no authentication required when
            provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault queries (no authentication required
            when provided)</p>
      responses:
        '200':
          description: Fill history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FillHistoryResponse'
          x-gitbook-description-html: <p>Fill history</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Returns trade fill history. Each fill represents a partial or full
        execution of an order. Supports filtering by symbol, order ID, and time
        range. Cursor-based pagination via <code>fromId</code> (backward) or
        <code>since_trade_id</code> (forward).</p><p>Use
        <code>since_trade_id</code> to poll for new fills after a known trade
        ID. Results are returned in ascending <code>trade_id</code> order.
        Cannot be combined with <code>fromId</code>.</p><p>Supports
        unauthenticated access when <code>vault_id</code> is provided.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns trade fill history. Each fill represents a partial
                      or full execution of an order. Supports filtering by
                      symbol, order ID, and time range. Cursor-based pagination
                      via 
                    marks: []
                  - object: leaf
                    text: fromId
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: .
                    marks: []
                key: 6CbpF3JmYkrL
            key: 626QyyzpGIrB
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Supports unauthenticated access when '
                    marks: []
                  - object: leaf
                    text: vault_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' is provided.'
                    marks: []
                key: LKMVvvG144RA
            key: RddIKr2QRfL8
        key: CoHelgURf4bM
  /v2/history/funding:
    get:
      tags:
        - History
      summary: Get funding payment history
      description: >
        Returns funding payment history. Positive income means the account
        received funding; negative means it paid. Supports filtering by symbol
        and time range. Cursor-based pagination via `fromId`.


        Supports unauthenticated access when `vault_id` is provided.
      parameters:
        - name: symbol
          in: query
          required: false
          description: Filter by trading pair symbol
          schema:
            type: string
          example: BTC-USD
          x-gitbook-description-html: <p>Filter by trading pair symbol</p>
        - name: startTime
          in: query
          required: false
          description: Start time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>Start time filter (Unix ms)</p>
        - name: endTime
          in: query
          required: false
          description: End time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>End time filter (Unix ms)</p>
        - name: limit
          in: query
          required: false
          description: Maximum number of results. Clamped to 1000.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 500
          x-gitbook-description-html: <p>Maximum number of results. Clamped to 1000.</p>
        - name: fromId
          in: query
          required: false
          description: Pagination cursor — return records with ID greater than this value
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: >-
            <p>Pagination cursor — return records with ID greater than this
            value</p>
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault queries (no authentication required when
            provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault queries (no authentication required
            when provided)</p>
      responses:
        '200':
          description: Funding payment history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FundingHistoryResponse'
          x-gitbook-description-html: <p>Funding payment history</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Returns funding payment history. Positive income means the account
        received funding; negative means it paid. Supports filtering by symbol
        and time range. Cursor-based pagination via
        <code>fromId</code>.</p><p>Supports unauthenticated access when
        <code>vault_id</code> is provided.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns funding payment history. Positive income means the
                      account received funding; negative means it paid. Supports
                      filtering by symbol and time range. Cursor-based
                      pagination via 
                    marks: []
                  - object: leaf
                    text: fromId
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: .
                    marks: []
                key: TZlxxtqAWvpU
            key: OminnPu1gZus
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Supports unauthenticated access when '
                    marks: []
                  - object: leaf
                    text: vault_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' is provided.'
                    marks: []
                key: vRPNlzUZv4mM
            key: cP292fI3aCCz
        key: Uq6MiQLh9NQD
  /v2/history/transaction:
    get:
      tags:
        - History
      summary: Get transaction history
      description: >
        Returns transaction history including deposits, withdrawals, fees,
        realized PnL, and liquidations. Supports filtering by type, status, and
        time range. Cursor-based pagination via `fromId`.


        Supports unauthenticated access when `vault_id` is provided.
      parameters:
        - name: type
          in: query
          required: false
          description: >
            Filter by transaction type. Accepts comma-separated integers or
            repeated query params. `1` = deposit, `2` = withdraw, `3` = fee, `4`
            = realized_pnl, `5` = liquidation. String values (`deposit`,
            `withdraw`, `fee`, `realized_pnl`, `liquidation`) are also accepted.
          schema:
            type: string
          example: 1,2
          x-gitbook-description-html: >-
            <p>Filter by transaction type. Accepts comma-separated integers or
            repeated query params. <code>1</code> = deposit, <code>2</code> =
            withdraw, <code>3</code> = fee, <code>4</code> = realized_pnl,
            <code>5</code> = liquidation. String values (<code>deposit</code>,
            <code>withdraw</code>, <code>fee</code>, <code>realized_pnl</code>,
            <code>liquidation</code>) are also accepted.</p>
        - name: status
          in: query
          required: false
          description: >
            Filter by status (integer enum): `1` = pending, `2` = completed, `3`
            = pending_settlement, `4` = settled, `5` = failed, `6` = cancelled
          schema:
            type: integer
          x-gitbook-description-html: >-
            <p>Filter by status (integer enum): <code>1</code> = pending,
            <code>2</code> = completed, <code>3</code> = pending_settlement,
            <code>4</code> = settled, <code>5</code> = failed, <code>6</code> =
            cancelled</p>
        - name: startTime
          in: query
          required: false
          description: Start time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>Start time filter (Unix ms)</p>
        - name: endTime
          in: query
          required: false
          description: End time filter (Unix ms)
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: <p>End time filter (Unix ms)</p>
        - name: limit
          in: query
          required: false
          description: Maximum number of results. Clamped to 1000.
          schema:
            type: integer
            minimum: 1
            maximum: 1000
            default: 100
          x-gitbook-description-html: <p>Maximum number of results. Clamped to 1000.</p>
        - name: fromId
          in: query
          required: false
          description: >-
            Pagination cursor — return transactions with ID greater than this
            value
          schema:
            type: integer
            format: int64
          x-gitbook-description-html: >-
            <p>Pagination cursor — return transactions with ID greater than this
            value</p>
        - name: vault_id
          in: query
          required: false
          description: >-
            Vault ID for public vault queries (no authentication required when
            provided)
          schema:
            type: string
          x-gitbook-description-html: >-
            <p>Vault ID for public vault queries (no authentication required
            when provided)</p>
      responses:
        '200':
          description: Transaction history
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionHistoryResponse'
          x-gitbook-description-html: <p>Transaction history</p>
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
      x-gitbook-description-html: >-
        <p>Returns transaction history including deposits, withdrawals, fees,
        realized PnL, and liquidations. Supports filtering by type, status, and
        time range. Cursor-based pagination via
        <code>fromId</code>.</p><p>Supports unauthenticated access when
        <code>vault_id</code> is provided.</p>
      x-gitbook-description-document:
        object: document
        data:
          schemaVersion: 9
        nodes:
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: >-
                      Returns transaction history including deposits,
                      withdrawals, fees, realized PnL, and liquidations.
                      Supports filtering by type, status, and time range.
                      Cursor-based pagination via 
                    marks: []
                  - object: leaf
                    text: fromId
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: .
                    marks: []
                key: ySk5e7wJSXk0
            key: bGYtCKCdrPkf
          - object: block
            type: paragraph
            isVoid: false
            data: {}
            nodes:
              - object: text
                leaves:
                  - object: leaf
                    text: 'Supports unauthenticated access when '
                    marks: []
                  - object: leaf
                    text: vault_id
                    marks:
                      - object: mark
                        type: code
                        data: {}
                  - object: leaf
                    text: ' is provided.'
                    marks: []
                key: lhpmrEPwdOlx
            key: diYHbGyB6YoU
        key: Prp0TQckwUSd
